
#map a {
color: #9e3222;   
}

.leaflet-control-attribution a {
color: #9e3222 !important;   
}

.leaflet-container {
	font-family: 'Fira Sans', Arial, sans-serif;
	}

.checkpointLabel {
    color: #7d8b8f;
    font-size: 9pt !important;
}

.uprootedComLabel {
    color: #555759;
    font-size: 11pt !important;
}

.textArab {
 font-family: 'Changa', sans-serif;
}

